n8n/contato-workflow.json
{
  "name": "Contato — fellipecorreia.com",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contato-site",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://fellipecorreia.com,https://www.fellipecorreia.com"
        }
      },
      "id": "b1a11111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "contato-site"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "hp-1",
              "leftValue": "={{ $json.body.website }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2a22222-2222-4222-8222-222222222222",
      "name": "Nao e bot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "fellipebayeh@gmail.com",
        "subject": "=[site] novo contato de {{ $json.body.name }}",
        "emailType": "text",
        "message": "=Nome:  {{ $json.body.name }}\nEmail: {{ $json.body.email }}\n\n{{ $json.body.message }}\n\n-- enviado por {{ $json.body.source }}",
        "options": { "replyTo": "={{ $json.body.email }}" }
      },
      "id": "d3a33333-3333-4333-8333-333333333333",
      "name": "Enviar Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, 200],
      "credentials": {
        "gmailOAuth2": { "id": "Gm41LoAuthCredFC1", "name": "Gmail - Fellipe" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "e4a44444-4444-4444-8444-444444444444",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Nao e bot", "type": "main", "index": 0 }]] },
    "Nao e bot": {
      "main": [
        [{ "node": "Enviar Gmail", "type": "main", "index": 0 }],
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    },
    "Enviar Gmail": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
